<a href="https://colab.research.google.com/github/martinpius/practicals_1/blob/main/Anything.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from typing import List, Tuple, Dict

In [ ]:
Age = 12;b = 15

In [ ]:
Age

12

In [ ]:
b

15

In [ ]:
a, b, c = 12, 23,100

In [ ]:
# Python datatypes--> Python comment

a = 12
b = 12.4
fname = "Martin"

In [ ]:
#Python list
L = [1,2,3]

In [ ]:
L1 = list((1, 2, 3))

In [ ]:
L3 = [1, 2, 3, "martin", 22.90]

In [ ]:
# Accessing elements in a list
L1[0]# First elmt

1

In [ ]:
L1[-1] # Last element

3

In [ ]:
L1

[1, 2, 3]

In [ ]:
L[2]

3

In [ ]:
L3

[1, 2, 3, 'martin', 22.9]

In [ ]:
L3[2:4]

[3, 'martin']

In [ ]:
L3[2:]

[3, 'martin', 22.9]

In [ ]:
L3[:-1]

[1, 2, 3, 'martin']

In [ ]:
print(L3)

[1, 2, 3, 'martin', 22.9]

In [ ]:
# F-print in Python

In [ ]:
print(F"This is the first element of L3 : {L[0]}")

This is the first element of L3 : 1

In [ ]:
# Python set---> Avoid data duplication
A = {1, 2, 3,3,4,5,6,7,4}

In [ ]:
A

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
A.pop()

1

In [ ]:
A

{2, 3, 4, 5, 6, 7}

In [ ]:
A.update([100])

In [ ]:
A.pop()

True

In [ ]:
A = {2,3,4,True,1}

In [ ]:
A

{True, 2, 3, 4}

In [ ]:
b: bool = False

In [ ]:
A

{2, 3, 4, 5, 6, 7}

In [ ]:
B = {1,2,3,10,20,12}

In [ ]:
A.intersection(B)

{2, 3}

In [ ]:
# Immutable datatype===> Tuple

In [ ]:
T1 = (1,2,3,4)

In [ ]:
T1[0]

1

In [ ]:
L1[0]

1

In [ ]:
L1[0] = "Lion"

In [ ]:
T1[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [ ]:
Mylist = [1,2, (1,2,3), "Name"]

In [ ]:
t2 = ("mm", 22, [1,3,4,5])

In [ ]:
# Python dictionary

In [ ]:
Mydict = {'names': ['Anna', "Merry", "etc"], "Age": [23, 20, 19]}

In [ ]:
Mydict

{'names': ['Anna', 'Merry', 'etc'], 'Age': [23, 20, 19]}

In [ ]:
Mydict.keys()

dict_keys(['names', 'Age'])

In [ ]:
list(Mydict.values())

[['Anna', 'Merry', 'etc'], [23, 20, 19]]

In [ ]:
D1 = {"A":23, "B": 200}

In [ ]:
D2 = dict(A = 23, B = 200)

In [ ]:
# Booliean
a = True ; b = False

In [ ]:
float(a)

1.0

In [ ]:
float(b)

0.0

In [ ]:
a+b

1

In [ ]:
a = 100; b =20000

In [ ]:
a

100

In [ ]:
b

20000

In [ ]:
# Conditional statements in Python

In [ ]:
# Loops in Python: {While & and for Loop}

In [ ]:
# For loop:
A1 = [i for i in range(11)] # List comprehension

In [ ]:
A2 = []
for i in range(11):
  A2.append(i)

In [ ]:
A1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
A2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Conditional statement
A_even1 = [i for i in A1 if i % 2 ==0]  # List comprehesion

In [ ]:
A_even2 = []
for i in A1:
  if i % 2 == 0:
    A_even2.append(i)

In [ ]:
# While loop
num = 0
while num < 5:
  print(num)
  num+=1
#

0
1
2
3
4

In [ ]:
# Nested condintional statements

In [ ]:
age = [20, 23, 25, 17, 32, 45, 60, 77]
name_ = ["John", "Ricco", "Rich", "Sam","Linda", "Roz","Anne","James"]

In [ ]:
for n in name_:
  print(n)

John
Ricco
Rich
Sam
Linda
Roz
Anne
James

In [ ]:
[i for i in range(len(age))]

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
for i in range(len(age)):
  if age[i] < 18:
    print(f"Person {name_[i]} is a teen")
  else:
    print(f"Person: {name_[i]} is an adult")

Person: John is an adult
Person: Ricco is an adult
Person: Rich is an adult
Person Sam is a teen
Person: Linda is an adult
Person: Roz is an adult
Person: Anne is an adult
Person: James is an adult

In [ ]:
# Nested conditional statements
for i in range(len(age)):
  if age[i] < 18:
    print(f"Person: {name_[i]} is a teen")
  elif 18 <= age[i] < 45:
    print(f"Person: {name_[i]} is a adult")
  else:
    print(f"Person: {name_[i]} is a senior citizen")

Person: John is a adult
Person: Ricco is a adult
Person: Rich is a adult
Person: Sam is a teen
Person: Linda is a adult
Person: Roz is a senior citizen
Person: Anne is a senior citizen
Person: James is a senior citizen

In [ ]:
mydt = {}
for a, n in zip(age, name_):
  if a < 20:
    mydt[n] = "Teen"
  elif 20<= a < 45:
    mydt[n] = "Adult"
  else:
    mydt[n] = "Senior Citizen"

In [ ]:
mydt

{'John': 'Adult',
 'Ricco': 'Adult',
 'Rich': 'Adult',
 'Sam': 'Teen',
 'Linda': 'Adult',
 'Roz': 'Senior Citizen',
 'Anne': 'Senior Citizen',
 'James': 'Senior Citizen'}

In [ ]:
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in A:
  print(i)

0
1
2
3
4
5
6
7
8
9
10