<a href="https://colab.research.google.com/github/martinpius/practicals_1/blob/main/Day_1_%26_2_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Numbers in Python
a = 10 # int
b = 1.2# float

In [2]:
# Python List:
even = [2,4,6]
odd = list((1,3,5))

In [3]:
S = "Enter your text:"
lower_case = S.lower()
upper_case = S.upper()

In [4]:
lower_case

'enter your text:'

In [5]:
upper_case

'ENTER YOUR TEXT:'

In [6]:
even[2] = 100 # Change the 3rd element to 100
even_ = even * 2 # Concat the same list 2 times

In [7]:
even.append([100, 200, 300]) # Append another list to existing one

In [8]:
# Python tupple: Immutable
even_tuple = (6, 8, 10)
list(even_tuple)[0] = 100

In [9]:
even_tuple[0] = 100 # change first ellent to 100: immutable

TypeError: 'tuple' object does not support item assignment

In [10]:
even_tuple.append(200)# Not allowed

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
# Python dictionary
even_dict = {"a": 20, "b": 40, "c": 60}

print(list(even_dict.values())) # print all values
print(list(even_dict.keys())) # print all keys of the dictionary
# Iterate over a dict
for k, v in even_dict.items():
    print(f"key: {k}, value: {v}")
# More can be done...

[20, 40, 60]
['a', 'b', 'c']
key: a, value: 20
key: b, value: 40
key: c, value: 60

In [12]:
# Python Set: {Uni}
set1 = set((1,2,3,4,5,5,6,7,8,8,8,9))
set2 = {1,2,3,4,5,5,5,6,7,8,8,8,9}
print(f"set1: {set1}, set2: {set2}")
# More operations are available such as .add, .remove, ..etc

set1: {1, 2, 3, 4, 5, 6, 7, 8, 9}, set2: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# Type conversions for data cleaning
#==============================================================================
raw_value = "34.7"  # Common scenario: string from CSV files
clean_float = float(raw_value) # casting
print(f"Type: {type(clean_float)}, Value: {clean_float}")

Type: <class 'float'>, Value: 34.7

In [14]:
# Conditional statements in Python:
#===============================================================================
# If statement
x = 10
if x > 5:
    print("x is greater than 5")

# If else statement
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

# Extension of if else
x = 5
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is exactly 5")
else:
    print("x is less than 5")

age = 25
income = 40000

if age > 18 and income > 30000:
    print("Eligible")

if age < 18 or income < 10000:
    print("Not eligible")

if not (age < 18):
    print("Adult")

# Many tricks are available....

x is greater than 5
x is 5 or less
x is exactly 5
Eligible
Adult

In [15]:
# Boolean logic for hypothesis testing
effect_present = True
sample_size = 61
sample_adequacy = (sample_size >= 30)
decision = effect_present and sample_adequacy
print(f"Conclusion valid? {decision}")

Conclusion valid? True

In [16]:
a = True
b = 60
c = False
d = a and c
print(d)

False

In [17]:
# Some boolean operations
True and True
True or True
True or False

True

In [18]:
False | True

True

In [19]:
True & True

True

In [20]:
# Elif ladder for multiple hypothesis outcomes
p_value = 0.07
alpha = 0.05

if p_value < 0.01:
    print("Strong evidence against H₀")
elif p_value < alpha:
    print("Reject H₀")
else:
    print("Fail to reject H₀")

Fail to reject H₀

In [21]:
# While loop & application for convergence checks (Simple simulation)
iteration = 1
current_error = 15.7
while current_error > 0.5:
    print(f"Iteration {iteration}: Error={current_error}")
    current_error *= 0.8  # Simulating error reduction==> current_ = current * 0.8
    iteration += 1

# More on while & for loops can be added...

Iteration 1: Error=15.7
Iteration 2: Error=12.56
Iteration 3: Error=10.048000000000002
Iteration 4: Error=8.038400000000001
Iteration 5: Error=6.430720000000001
Iteration 6: Error=5.144576000000001
Iteration 7: Error=4.115660800000001
Iteration 8: Error=3.2925286400000005
Iteration 9: Error=2.6340229120000007
Iteration 10: Error=2.1072183296000007
Iteration 11: Error=1.6857746636800006
Iteration 12: Error=1.3486197309440007
Iteration 13: Error=1.0788957847552005
Iteration 14: Error=0.8631166278041604
Iteration 15: Error=0.6904933022433284
Iteration 16: Error=0.5523946417946627

In [22]:
L = [1,20, 10, 0.8]
sorted(L)

[0.8, 1, 10, 20]

In [23]:
# Python List & Application in data analysis: Calculate confidence intervals
data = [72, 68, 75, 81, 69, 65, 78, 82, 70, 77]
n = len(data)
mean = sum(data)/n
sorted_data = sorted(data)
lower_ci = sorted_data[int(0.025*n)]
upper_ci = sorted_data[int(0.975*n)]

print(f"Bootstrap 95% CI: [{lower_ci}, {upper_ci}]")
# More operations using Python list can be added

Bootstrap 95% CI: [65, 82]

In [24]:
# Python tuple and application in storing statistical test parameters

t_test_config = (
    "two-sample",              # test type
    "unequal_var",             # variance assumption
    {"alpha": 0.05, "alternative": "two-sided"}  # test parameters
)

print(f"Performing {t_test_config[0]} t-test with {t_test_config[2]['alternative']} alternative and alpha={t_test_config[2]['alpha']}")
# More operations on tuple can be added

Performing two-sample t-test with two-sided alternative and alpha=0.05

In [25]:
# Python dictionary and example of a data structure
trial_data = {
    "treatment_group": {
        "n": 150,
        "mean_improvement": 12.7,
        "std_dev": 4.3
    },
    "control_group": {
        "n": 145,
        "mean_improvement": 9.1,
        "std_dev": 5.2
    }
}

In [26]:
# Accessing nested data
effect_size = (trial_data["treatment_group"]["mean_improvement"]
               - trial_data["control_group"]["mean_improvement"])
print(f"Absolute treatment effect: {effect_size:.1f} points")

# Other dictionary operations can be explored

Absolute treatment effect: 3.6 points

In [27]:
# Python sets and an example on validate survey response categories
allowed_responses = {"strongly_agree", "agree", "neutral", "disagree", "strongly_disagree"}
actual_responses = {"agree", "neutral", "undecided", "agree"}

invalid_responses = actual_responses - allowed_responses
print(f"Invalid responses to filter: {invalid_responses}")

# Other common sets operations can be added

Invalid responses to filter: {'undecided'}

In [28]:
#Comprehension in Python: An example to create covariance
#====================================================================
# We start with the easier cases such
# -List comprehension, dictionary comprehesion, etc.
#====================================================================

# Nested comprehension


variables = ["X", "Y", "Z"]
cov_matrix = {
    row: {col: 0.5 if row != col else 1.0 for col in variables}
    for row in variables
}

print("Simulated Covariance Matrix:")
for row in cov_matrix:
    print(f"{row}: {cov_matrix[row]}")

# Memory-efficient sum of squares (better for big data)
large_dataset = (x**2 for x in range(1000000))  # Generator, not list
total = sum(large_dataset)
print(f"Sum of squares for 1M elements: {total:,}")

# More examples on Comprehensions can be added

Simulated Covariance Matrix:
X: {'X': 1.0, 'Y': 0.5, 'Z': 0.5}
Y: {'X': 0.5, 'Y': 1.0, 'Z': 0.5}
Z: {'X': 0.5, 'Y': 0.5, 'Z': 1.0}
Sum of squares for 1M elements: 333,332,833,333,500,000

In [29]:
# Functions
def add(a, b):
  s = a + b
  #print(s)
  return s

In [30]:
#Calling a function
s = add(50, 4)

In [31]:
vilages = ["A", "B", "C", "D"]

In [32]:
import random

In [33]:
for res in range(3):
  for i in range(5):
    print(random.choice(vilages))

D
A
A
D
B
C
A
B
B
B
C
B
D
B
A

In [34]:
# Simulate household survey data
def simulate_subjects(subject_id):
    data = {
      "id": subject_id,
        "age": random.randint(18, 90),
        "residense": random.choice(["rural", "urban"]),
        "consuption": f"{random.gauss(100, 15):.4f}",
        "income": f"{random.gauss(215, 10):.4f}" if random.random() < 0.3 else None  # Missing data simulation
    }
    return data

In [35]:
# Generate 1000 respondents
study_population = [simulate_subjects(i) for i in range(10)]

In [36]:
# Print all income
for p in study_population:
  print(p["income"])

None
None
193.4361
None
None
185.3855
None
None
215.7385
None

In [37]:
# Show first 3 subjects
for subject in study_population[:3]:
    print(subject)

{'id': 0, 'age': 58, 'residense': 'urban', 'consuption': '83.7293', 'income': None}
{'id': 1, 'age': 40, 'residense': 'rural', 'consuption': '76.8149', 'income': None}
{'id': 2, 'age': 72, 'residense': 'urban', 'consuption': '121.2139', 'income': '193.4361'}

In [38]:
# Error handling: Safely handle missing data
def safe_average(values):
    try:
        clean = [float(x) for x in values if x is not None]
        return sum(clean)/len(clean)
    except ZeroDivisionError:
        print("Warning: All values missing!")
        return None

In [39]:
# You can Test with real-world missing data
income_results = [p["income"] for p in study_population]
print(f"Average income result: {safe_average(income_results):.1f}")

Average income result: 198.2

# Exerices
#======================================================================
# Simulate Python data dictionary with columns such as "Income category (low, medium, high)", "Age category such as "teen", "adult", "senior", "location such as rural, urban", "social security such as yes, no"
===================================================================================================================